.hotWordNav{
    width:100%;
    height: 0.4rem;
    line-height: 0.4rem;
    font-size: 14px;
    background: #FFF;
    .swiper-container{
        width:85%;
        display: inline-block;
        .swiper-wrapper{
            .swiper-slide{
                width:auto;
            }
            .hotWord-item{
                display: inline-block;
                padding:0 0.15rem;
                
            }
        }
    }
    
    .hotWord-right{
        display: inline-block;
        height: 0.4rem;
        width:15%;z-index: 1;
        position: relative;
        background: #FFF;
        top:-0.14rem;
        .opacity{
            position: absolute;
            opacity: 0.5;
            display: inline-block;
            right:0.39rem;
            background: #FFF;
            width: 0.4rem;
            height:100%;
        }
        .listSearch{
            width: 60%;
            height: 100%;
            padding-left:0.2rem;
            display: inline-block;
            font-size:0.2rem;
            text-align: center;
            line-height: 2;
        }
    }
    .todayBanner{
        width:100%; 
    }
    
}
.todayBanner-img{
    width:3.75rem;
    display: block;
}
// 热销图片
.todayHotImgs{
    width:100%;
    display: flex;
    justify-content: space-between;
    margin-top:0.1rem;
    margin-bottom:0.1rem;
    .today-imgs-left{
        height:2.15rem;
        img{
            width:100%;
            height:100%;
        }
    }
    .today-imgs-right{
        overflow: hidden;
        height:2.15rem;
        img{
            width:1.1rem;
            height:1.07rem;
        }
        .today-imgs-right__item{
            width:1.1rem;
            height:1.07rem;
            float: right;
        }
    }
}
//今日特卖
.todaygoods{
    background: #fff;
    h2{
        text-align: center;
        font-weight: normal;
        color:#333;
        border-bottom:1px solid #eee;
        padding: 0.1rem 0;
    }
    .todaygood{
        .today-title{
            padding:0.07rem 0.12rem;
            height:0.32rem; 
            line-height: 0.32rem;
            img{
                width:0.32rem;
                height:0.32rem;
                float: left;
            }
            .today-item-name{
                float: left;
                margin-left: 0.05rem;
                font-size:0.14rem;
            }
            .today-item-info{
                margin-left: 0.05rem;
                float: left;
                color:#999;
                font-size:0.07;
            }
            .today-much{
                float:right;
            }
        }
        .today-content{
            width:100%;
            display: flex;
            .today-content-item{
                box-sizing: border-box;
                width:50%;
                display: inline-block;
                border:1px solid #eee;
                 padding:0.1rem;  
                .today-content-item-img{
                   text-align: center;
                    img{
                        width:80%;
                     
                    }
                }
                .today-content-item-details{
                    .today-item-price{
                        p{
                            display: inline-block;
                        }
                        .today-item-price-new{
                            .currency{
                                font-weight: 600;
                                color: #ff4965;
                            }
                            .price-num{
                                font-size:0.2rem;
                                color: #ff4965;
                                font-weight: 600;
                            }
                            .price-little{
                                font-weight: 600;
                                color: #ff4965;
                            }
                        }
                        .today-item-price-old{
                            padding-left:0.05rem;
                            color:#999;
                            text-decoration: line-through;
                        }
                    }
                    .today-item-title{
                        width:100%;
                        color:#3d3d3d;
                        text-align: left;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        font-size:0.15rem;
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}
